language: objective-c
osx_image: xcode10.2

before_install:
    - pod repo update --silent
    - cd Example
    - pod update

script:
    - set -o pipefail && xcodebuild test -workspace Optik.xcworkspace -scheme Optik-Example -destination 'platform=iOS Simulator,name=iPhone 6,OS=latest' | xcpretty
    - cd ../
    - pod lib lint
